@import "../base/utils";
@import "../base/base";
@import "../base/normalize";
@import "../base/typography";

.footer {
    overflow: hidden;
    max-width: 1920px;
    margin: 0 auto;
    padding: 32px 0 67px;

    @include nmd {
        padding: 10px 0 50px;
    }

    @include nsm {
        padding: 5vw 0;
    }

    &__bg {
        position: relative;
        display: block;

        img {
            position: absolute;
            z-index: -1;
            left: 50%;
            transform: translateX(-50%);
            object-fit: cover;

        }

        @include nsm {
            img {
                transform: translate(-86%, -21%);
                
            }
        }

   
    }

    &__menu {
        li:not(:last-of-type) {
            padding-bottom: 16px;
        }
        a {
            transition: all .2s linear;  

            &:hover {
                color: $YPeach; 
            }
        }
    }

    &__content {
        display: grid;
        grid-template-columns: 3fr 2.5fr 1.3fr;
        grid-template-areas: 
        "logo hours menu"
        "phone site-link menu"
        "cards site-link menu";
        grid-column-gap: 104px;
        grid-row-gap: 12px;
        
        @include nlg {
            padding-left: 16px;
            grid-column-gap: 74px;
        }

        // @include nmd {
        //     display: flex;
        //     flex-direction: column;
        //     text-align: center;
        //     padding-left: 0px;
        // } 

        @include nsm {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-areas: 
            "logo logo"
            "phone menu"
            "cards menu"
            "hours menu"
            "site-link site-link";
            justify-items: center;
            text-align: center;
            grid-row-gap: 7.5vw;
        }
    }

    &__logo {
        grid-area: logo;
        @include nsm{
            width: 32vw;
            padding-left: 4vw;
        }

        img{
            @include nsm{
                width: 100%;
            }
        }
    }

    &__site-link{
        grid-area: site-link;

        font-family: $font-gilroy;
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 128%;
        color: $YRealWhite;
        padding-top: 62px;

        a{
            display: block;
            transition: all .2s linear;  
            &:hover{
                color: $YPeach;
            }
        }

        @include nsm{
            font-size: 4vw;
            padding-top: 2vw;
        }
    }

    &__phone {
        grid-area: phone;
        font-family: $font-gilroy;
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 35px;
        letter-spacing: 0.36px;
        color: #FFFFFF;

        @include nmd {
            padding-left: 0px;
        }
        @include nsm {
            font-size: 3.2vw;
            line-height: 4vw;
        }

        
        a {
            text-decoration: underline;
            color: #51C0FF;
            transition: all .2s;

            font-weight: 900;
            font-size: 32px;
            line-height: 60px;

            &:hover {
                text-decoration: none;
                color: $YPeach;
            }

            @include nsm {
                font-size: 4vw;
                line-height: 8vw;
                &:hover {
                    color: $YRealWhite;
                }
            }
        }

    }

    &__menu {
        grid-area: menu;
    }

    &__hours {
        grid-area: hours;

        span{
            font-family: $font-gilroy;
            font-style: normal;
            font-weight: 300;
            font-size: 22px;
            line-height: 128%;
            color: $YRealWhite;
            @include nsm{
                font-size: 4vw;
            }
        }

        p{
            display: block;
            font-family: $font-petrov;
            font-weight: 700;
            font-size: 20px;
            line-height: 160.86%;
            color: $YRealWhite;
            margin-bottom: 10px;
        }

    }

    &__menu-text{
        font-family: $font-gilroy;
        font-style: normal;
        font-weight: 800;
        font-size: 20px;
        line-height: 160%;
        letter-spacing: 0.02em;
        color: #51C0FF;
        @include nsm{
            font-size: 4vw;
        }
    }

    &__cards {
        grid-area: cards;
        margin-top: 22px;
    }

    &__text {
        font-family: $font-petrov;
        font-weight: 700;
        font-size: 22px;
        line-height: 160.86%;
        text-transform: uppercase;
        color: $YRealWhite;

        @include nsm {
            font-size: 3vw;
        }
        
    }

    &__payment-list {
        display: flex;
        align-items: center;
        justify-content: flex-start;

        li{
            @include nsm{
                width: 47vw;
            }
        }
        
        img {
            margin-bottom: -34px;
            @include nsm {
                width: 100%;
                margin-bottom: 0;
            }
        }

        @include nmd {
            justify-content: center;
        }

        @include nsm{
            width: 47vw;
        }

        
    }   
    &__payment-list  li:nth-child(2) {
        margin-bottom: -20px;
        @include nsm {
            margin-bottom: 0px;
        }
    }
    &__payment-list  li:nth-child(3) {
        margin-left: 7px;
    }
}